@font-face {
    font-family: "Breaking_bad";
    src: url("../Breaking_Bad.ttf");
}
#fondo {
    background-image: url("../img/fondo.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
}
.logo {
    width:200px;
    height:200px;
}
.letra {
    font-family: "Breaking_bad";
    text-align: center;
    font-size: 30px; /*se utiliza un tamaño de letra distinto a las especificaciones para poder visualizarlo correctamente*/
    color: white;
}
.poster {
    width:700px;
    height:300px;
    border: 10px outset brown;
    border-radius: 22px;
}
.form {
    font-family: Helvetica;
    color: white;
}
#tab {
    background-color: #0c3e11;
    text-align: center;
}
table {
    margin: auto;
    background-color: #283118;
    border: 4px solid #283118;
    font-family: Helvetica;
    color: #283118;
    font-weight: bold;
    font-size: 10px;
    line-height: 10px;
    border-spacing: 5px;
}
td {
    width: 55px;
    height: 55px;
}
.td_espacio {
    background-color: #283118;
}
.td_1 {
    background-color: #99e826;
}
.td_2 {
    background-color: #e5f4e5;
}
.td_3 {
    background-color: #629c0a;
}
.td_4 {
    background-color: #3f610c;
}
.td_5 {
    background-color: #98ce48;
}
.td_6 {
    background-color: #c9b7df;
}
.td_7 {
    background-color: darkolivegreen;
}
.td_8 {
    background-color: #9c7cc8;
}
.td_9 {
    background-color: #e2faa5;
}
.td_10 {
    background-color: #e2ee36c9;
}
.img_tabla {
    width: 45px;
    height: 45px;
}
p {
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
}
#Ha {
    background-image: url(../img/hankschrader.png);
    background-size: cover;
}